.item {
  display: flex;
  justify-content:center ;
  align-items: center;
  height: 100vh;
  transition: 0.3s ease;
}
button {
  background-color: rgb(42, 132, 188);
  color: white;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  background-color:  rgb(130, 198, 79);
  color: white;
}