 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

 * {
      box-sizing: border-box;
      font-family: "Open Sans", sans-serif;
      margin: 0;
      padding: 0;
}
    body {
      margin: 20px;
      background-color: #f5f5f5;
}
  .container{
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 5px lightblue;

  }
        h1 {
          text-align: center;
        }
    
        .form-row {
          margin-bottom: 10px;
        }
    
        input,
        select {
          padding: 4px;
          border: 1px solid #ccc;
        }
    
      input[type="text"],
      input[type="email"] {
    width: 300px;
    }

        .title-group {
          border: 1px solid #ccc;
          padding: 10px;
          display: inline-block;
        }
    
        button {
          padding: 8px 15px;
          margin: 5px;
          border: 1px solid #ccc;
          border-radius: 10px;
          cursor: pointer;
          transition: 0.5s;
        }
        .edit-btn{
          background-color: #4CAF50;
        }

    .edit-btn:hover {
    background-color: #45A049;
    }

    .delete-btn{
    background-color: #F44336;
    }

        .delete-btn:hover {
          background-color: #D32F2F;
        }

        .users-table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 20px;
        }
    
        .users-table th,
        .users-table td {
          border: 1px solid #000;
          padding: 5px;
          text-align: center;
        }
    
        .required {
          color: red;
        }

      #userCount{
      padding-top: 8px;
      font-weight:bold ;
      }